/* HomePage.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    height: 86vh;
    background: #F7971E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
  
  .left-side {
    width: 45%;
    height: 80%;
  }
  .left-side h1{
    font-size:70px;
  }
  .left-side p{
    width: 70%;
    font-size: larger;
    text-align: left;
  }
  
  .right-side {
    width: 45%;
    position: relative;
    
  }
  
  .book-stack {
    width: 860px;
    position: absolute; 
    right: 0;
  }
  .book-stack:first-child {
    z-index: 0;
    top: -650px;
  }
  .book-stack:last-child {
    z-index: 1; 
    top: -40px;  
     
  }
  .get-issued{
    margin: 30px;
    padding: 10px;
  }
  .get-button{
    text-decoration: none;
    color: #fff;
    background-color:black;
    padding: 10px 55px;
    border-radius: 5px;
    margin-left: -38px ;
    transition: background-color 0.3s;
    
  }
  .get-button:hover {
    background-color: #1e78ad;
  }
  .social-icons {
    margin-top: 25px;
 
  }
  
  .social-icon {
    width: 40px;
    height: 40px;
    margin: 8px 8px;

  }
  