
.reader-box {
  padding: 20px;
  background-color: #fcc52d;
  height: 90vh;
}

.dashboard-container {
  max-width: 800px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 15px;
}

.book-list {
  list-style-type: none;
  padding: 0;
}

.book-item {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.borrow-button  {
  margin-left: auto;
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.borrow-button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
}
.book-title, .book-author, .book-publisher {
  width: 50%;
  margin-right: 10px;
}


.success-message {
  color: green;
}